.input-story {
  width: 328px !important;
}

.input-small-story {
  width: 100px !important;
}

.input-small-width-story {
  width: 56px !important;
}

.input-small-with-icon {
  width: 250px !important;
}

.input-html-error {
  .error {
    p {
      margin: 0;
    }
  }
}

.input-rtl {
  direction: rtl;
}
