/* Фиксы для сторибука, чтобы страница с типографикой нормально работала */

* {
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: 'Roboto Mono', monospace;
}

code * {
  font-family: 'Roboto Mono', monospace;
}

pre.prismjs {
  font-family: 'Roboto Mono', monospace;
}

pre.prismjs * {
  font-family: 'Roboto Mono', monospace;
}
