// Peak
$Peak: #ffffff;
$Peak_80: rgba(#ffffff, 80%);
$Peak_70: rgba(#ffffff, 70%);
$Peak_60: rgba(#ffffff, 60%);
$Peak_50: rgba(#ffffff, 50%);
$Peak_40: rgba(#ffffff, 40%);
$Peak_30: rgba(#ffffff, 30%);
$Peak_20: rgba(#ffffff, 20%);
$Peak_10: rgba(#ffffff, 10%);
$Peak_5: rgba(#ffffff, 5%);

// Bottom
$Bottom_Calm: #5b6976;
$Bottom: #000000;
$Bottom_66: rgba(#000000, 66%);
$Bottom_60: rgba(#000000, 60%);
$Bottom_50: rgba(#000000, 50%);
$Bottom_40: rgba(#000000, 40%);
$Bottom_30: rgba(#000000, 30%);
$Bottom_20: rgba(#000000, 20%);
$Bottom_10: rgba(#000000, 10%);
$Bottom_5: rgba(#000000, 5%);

// Primary
$Primary_Calm: #688b78;
$Primary_Active: #158e3a;
$Primary: #1ab248;
$Primary_70: rgba(#1ab248, 70%);
$Primary_50: rgba(#1ab248, 50%);
$Primary_40: rgba(#1ab248, 40%);
$Primary_30: rgba(#1ab248, 30%);
$Primary_20: rgba(#1ab248, 20%);
$Primary_10: rgba(#1ab248, 10%);
$Primary_5: rgba(#1ab248, 5%);

// Secondary
$Secondary_Calm: #847e9d;
$Secondary_Active: #1a0962;
$Secondary: #4b3c87;
$Secondary_70: rgba(#4b3c87, 70%);
$Secondary_50: rgba(#4b3c87, 50%);
$Secondary_40: rgba(#4b3c87, 40%);
$Secondary_30: rgba(#4b3c87, 30%);
$Secondary_20: rgba(#4b3c87, 20%);
$Secondary_10: rgba(#4b3c87, 10%);
$Secondary_5: rgba(#4b3c87, 5%);

// Tertiary
$Tertiary_Calm: #9da9b6;
$Tertiary_Active: #35485f;
$Tertiary: #627790;
$Tertiary_70: rgba(#627790, 70%);
$Tertiary_50: rgba(#627790, 50%);
$Tertiary_40: rgba(#627790, 40%);
$Tertiary_30: rgba(#627790, 30%);
$Tertiary_20: rgba(#627790, 20%);
$Tertiary_10: rgba(#627790, 10%);
$Tertiary_5: rgba(#627790, 5%);

// Error
$Error_Calm: #e58787;
$Error_Active: #9f011d;
$Error: #e40029;
$Error_70: rgba(#e40029, 70%);
$Error_50: rgba(#e40029, 50%);
$Error_40: rgba(#e40029, 40%);
$Error_30: rgba(#e40029, 30%);
$Error_20: rgba(#e40029, 20%);
$Error_10: rgba(#e40029, 10%);
$Error_5: rgba(#e40029, 5%);

// Attention
$Attention_Calm: #f4a344;
$Attention_Active: #b55700;
$Attention: #f47500;
$Attention_70: rgba(#f47500, 70%);
$Attention_50: rgba(#f47500, 50%);
$Attention_40: rgba(#f47500, 40%);
$Attention_30: rgba(#f47500, 30%);
$Attention_20: rgba(#f47500, 20%);
$Attention_10: rgba(#f47500, 10%);
$Attention_5: rgba(#f47500, 5%);

// Success
$Success_Calm: #93bb8c;
$Success_Active: #106f00;
$Success: #17a000;
$Success_70: rgba(#17a000, 70%);
$Success_50: rgba(#17a000, 50%);
$Success_40: rgba(#17a000, 40%);
$Success_30: rgba(#17a000, 30%);
$Success_20: rgba(#17a000, 20%);
$Success_10: rgba(#17a000, 10%);
$Success_5: rgba(#17a000, 5%);

// Marine
$Marine_Calm: #8ec1cc;
$Marine_Active: #007089;
$Marine: #00bbe4;
$Marine_70: rgba(#00bbe4, 70%);
$Marine_50: rgba(#00bbe4, 50%);
$Marine_40: rgba(#00bbe4, 40%);
$Marine_30: rgba(#00bbe4, 30%);
$Marine_20: rgba(#00bbe4, 20%);
$Marine_10: rgba(#00bbe4, 10%);
$Marine_5: rgba(#00bbe4, 5%);

// Specific
$Primary_Button: #1ab248;
$Primary_Button_Hover: #30cc5f;
$Secondary_Button: rgba(#1ab248, 10%);
$Button_Disable: rgba(#000000, 35%);
$Input_Disable: rgba(#335568, 15%);
$Background: #f5f8fe;
$Textmatch: #e8ff58;
$DarkSpinner: conic-gradient(
  from 0deg at 100% 47.92%,
  rgba(6, 151, 152, 0) 0deg,
  #1ab248 63.75deg,
  rgba(6, 151, 152, 0) 360deg
);
$LightSpinner: conic-gradient(
  from 0deg at 100% 47.92%,
  rgba(255, 255, 255, 0) 0deg,
  #ffffff 127.5deg,
  rgba(255, 255, 255, 0) 360deg
);

// Surface
$Surface_Neutral: rgba(#335568, 5%);
$Surface_Marine: rgba(#00bbe4, 5%);
$Surface_Secondary: rgba(#2000e4, 5%);
$Surface_Error: rgba(#e40029, 5%);
$Surface_Attention: rgba(#f47500, 5%);
$Surface_Access: rgba(#17a000, 5%);
$Surface_Background: rgba(#f5f8fe, 90%);

// Surface
$Mint_Hi: linear-gradient(45deg, #004b4e, #01949a);
$Mint_Mid: linear-gradient(45deg, #008dac, #9af3d3);
$Mint_Low: linear-gradient(45deg, #a5efff, #e6ffda);
$Violet_Hi: linear-gradient(45deg, #34227b, #7c5bff);
$Violet_Mid: linear-gradient(45deg, #9351ff, #6cfaf1);
$Violet_Low: linear-gradient(45deg, #cdc0ff, #cffffc);
$Pink_Hi: linear-gradient(45deg, #3e004e, #df5eff);
$Pink_Mid: linear-gradient(45deg, #8a01de, #f2bfff);
$Pink_Low: linear-gradient(45deg, #e4b7ff, #fcf2ff);
$Blue_Hi: linear-gradient(45deg, #00178e, #0097ec);
$Blue_Mid: linear-gradient(45deg, #3431fb, #57ddff);
$Blue_Low: linear-gradient(45deg, #b4dfff, #e0f9ff);
$Orange_Hi: linear-gradient(45deg, #840057, #dc9e00);
$Orange_Mid: linear-gradient(45deg, #ff3cbd, #ffc633);
$Orange_Low: linear-gradient(45deg, #ffbfe9, #ffecba);
$Green_Hi: linear-gradient(45deg, #007a1b, #fee500);
$Green_Mid: linear-gradient(45deg, #5eff81, #fff503);
$Green_Low: linear-gradient(45deg, #b5ffc5, #fffdc2);
